.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: white;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Navigation buttons styling */
.swiper-button-next,
.swiper-button-prev {
  color: #01203f;
  width: 40px;
  height: 40px;
}

/* Pagination styling */
.swiper-pagination-fraction {
  color: #01203f;
  font-weight: 600;
  font-size: 16px;
}
